body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #db3e3e;
}